@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: "GT Walsheim";
  src: url("./assets/fonts/subset-GTWalsheim-Regular-_1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./assets/fonts/subset-GTWalsheim-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./assets/fonts/subset-GTWalsheim-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-background;
  }
}
