@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: "GT Walsheim";
  src: url("./assets/fonts/subset-GTWalsheim-Regular-_1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./assets/fonts/subset-GTWalsheim-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./assets/fonts/subset-GTWalsheim-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-background;
    font-family: "GT Walsheim", sans-serif;
  }

  button {
    @apply font-gt-walsheim! cursor-pointer;
  }

  h1 {
    @apply font-gt-walsheim!;
  }

  h2 {
    @apply font-gt-walsheim!;
  }

  h3 {
    @apply font-gt-walsheim!;
  }

  h4 {
    @apply font-gt-walsheim!;
  }

  h5 {
    @apply font-gt-walsheim!;
  }

  h6 {
    @apply font-gt-walsheim!;
  }

  p {
    @apply font-gt-walsheim!;
  }

  span {
    @apply font-gt-walsheim!;
  }

  a {
    @apply font-gt-walsheim!;
  }

  label {
    @apply font-gt-walsheim!;
  }

  input {
    @apply font-gt-walsheim!;
  }
}
